.footer {
    text-align: center;
    padding: 20px;
    background-color: #f3f3f3; /* Light grey background */
    color: #333; /* Dark grey text */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  @media (max-width: 768px) {
    .footer {
      padding: 10px; /* Reduce padding on smaller screens */
      font-size: 0.9em; /* Reduce font size on smaller screens */
    }
  }