.priceFilter {
    margin-bottom: 20px;
  }
  
  .filterHeader {
    margin-bottom: 10px;
  }
  
  .filterOption {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .filterCheckbox {
    margin-right: 10px;
  }
  
  .filterLabel {
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .filterOption {
      margin-bottom: 10px; /* Increase spacing for easier interaction */
    }
  
    .filterCheckbox {
      margin-right: 15px; /* Increase spacing around checkboxes */
    }
  
    .filterLabel {
      font-size: 1em; /* Ensure text is legible on smaller screens */
    }
  }